body {
	margin: 0;
	padding: 0;
	font: 15px Verdana, sans-serif;
	line-height: 1.8em;
	color: black;
	background: #EDF1F3;
}

#container {
	width: 54em;
	margin-left: auto;
	margin-right: auto;
}

.menubar {
  color: #aaa;
  line-height: 1.3em;
  margin-top: 0;
  padding-top: 0;
}

.menubar a {
  color: #aaa;
  text-decoration: none;
}

.menubar a:hover {
  color: #004491;
}

#header {
  margin-bottom: 3em;
  padding-top: 0.3em;
}

#footer {
  margin-top: 3em;
  padding-bottom: 0.3em;
}

h1, h2, h3 {
  font-family: 'Bevan', Arial, Serif;
  color: #444;
	text-shadow: #DDD 1px 1px;
}

h1 {
  font-size: 3em;
  font-weight: normal;
	padding-bottom:0px;
	padding-top:35px;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  line-height: 1.4em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.2em;
  margin-bottom: -0.3em;
  margin-top: 0;
}

h3 {
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom:5px;
}


.link-post h2 {
  font-size: 1.4em;
}

code {
  padding-left: 0.2em;
  padding-right: 0.2em;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
}

.meta {
  font-size: 0.8em;
  color: #999;
  border-top: 1px solid #eee;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: -0.6em;
}

a {
  color: #004491;
  text-decoration: none;
  border-bottom: 1px dotted #d3dfee;
}

a:hover {
  border-bottom: 1px solid;
}

.title a {
  color: #444;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0;
}

.title a:hover {
  border: none;
}

.entry-date {
	float: left;
	margin-left: -55px;
	padding-top: 14px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
}

.entry-date div {
	font-size: 27px;
	color: #175158;
}

.video {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-bottom: 0;
  text-align: center;
}

pre {
  font: 0.9em Monaco, monospace;
  line-height: 1.4em;
  display: block;
  color: white;
  background: #222;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  padding: 0.6em;
}
		
.related {
  padding-top: 1em;
  color: #aaa;
  font-size: 0.9em;
  line-height: 1.7em;
}

.related h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0;
  margin-bottom: 0;
}

.related p {
  margin-top: 0.4em;
}

ul#posts {
  list-style:none;
  margin:0px;
  padding:0px;
}

/* Profile styles */

a.fancybox, a#fancybox-close {
  text-decoration:none;
  border:none;
}
#profile-wrapper {
  width:750px;
  margin:auto;
}
.big-left-box, .big-top-box, .small-box {
  margin:15px;
}
.big-left-box, .big-top-box, .puzzle-text {
  color: #555;
  line-height:20px; 
}
.puzzle-text {
  float:left;
  width:540px;
  padding-left:10px;
}
.big-left-box div.title, .big-top-box div.title, .puzzle-text div.title {
  float:left; 
  font-family: 'Bevan';
}
.big-left-box div.year, .big-top-box div.year, .puzzle-text div.year {
  float:right;
  font-family: 'Bevan';
}
.big-left-box span.link, .big-top-box span.link {
  display:block;
  margin-top:5px;
}
.big-left-box {
  width:200px;
  height:400px;
  float:left;
}
.big-top-box {
  width:400px;
  height:200px;
  float:left;
}
.big-frame {
  background-color:#323232;
  width:180px;
  height:180px;
  float:left;
  padding:10px;
  -webkit-border-radius:9px;
  -moz-border-radius: 9px;
}
.big-text {
  width:190px;
  float:right;
  padding-left:10px;
}
.small-frame {
  background-color:#323232;
  width:80px;
  height:80px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  padding:10px;
}
.small-box {
  height:200px;
  width:100px;
  float:left;
}
.small-text {
  width:100px;
  height:100px;
  line-height:15px;
  font-size:13px;
  color: #555;
  position:relative;
}
.small-text span.company {
  display:block;
  text-align:center;
  font-family: 'Bevan';
  margin-top:5px;
}
.small-text div.year {
  font-size:12px;
  padding-bottom:0;
  text-align:center;
  float:left;
  margin-top:5px;
  position:absolute;
  bottom:0px;
  font-family: 'Bevan';
}
.small-text div.tag {
  font-size:10px;
  text-align:right;
  float:right;
  margin-top:5px;
  position:absolute;
  bottom:0px;
  right:0px;
  font-family: 'Bevan';
}
span.code-link {
  display:block;
  text-align:center;
  position:relative;
  top:25px;
}

.hr {
  border-top:1px solid #999;
  border-bottom: 1px solid #DDD;
}