<!-- header start -->

<header>
  <div class="color"></div>
  <div class="navigation">
    <ul class="nav-link">
      <li><a href="https://github.com/folsen">CODE</a></li>
      <li>
        <a href="/">
          <div class="author-image-small" style="background-image: url({{site.author_image}})">
            Blog Logo
          </div>
        </a>
      </li>
      <li><a href="https://twitter.com/ique">TWITTER</a></li>
      <br class="cf">
    </ul>
    <br class="cf">
  </div>
</header>

<!-- header end -->
