{% if page.post-type %}<div class="{{ page.post-type }}">{% else %}<div class="post">{% endif %}
  <div class="content">
    <h2 class="title"><a href="{{ page.url }}">{{ page.title }}</a></h2>

		<div class="entry-date">{{ page.date | date:'%b <div>%d</div> %Y' | replace:'>0','>' }}</div>
    {{ body }}
  </div>{% unless page.hide_meta %}
  <div class="meta">
  <span class="author"><a href="/about.html">Fredrik Olsen</a></span> &middot; 
  <span class="date"><a href="/{{ page.date | date: "%Y" }}/{{ page.date | date: "%m" }}">{{ page.date | date: "%e" | ordinalize }} {{ page.date | date: "%B"}} {{ page.date | date: "%Y"}}</a></span>
  <span class="comments"> &middot; <a class="entry-comments" href="{{ page.url }}#disqus_thread">0</a></span>
	</div>{% endunless %}
</div>