---
layout: default
---
{% assign body = content %}
{% include post-div.html %}
{% unless page.hide_meta %}
<div id="comments">
	<div id="disqus_thread"> </div>
	<script type="text/javascript">
		var disqus_developer = (/localhost|dev/i).test(location.host);
	</script>
	<script type="text/javascript" src="http://disqus.com/forums/iquescodeblog/embed.js"> </script>
	<noscript><a href="http://disqus.com/forums/iquescodeblog/?url=ref">View the discussion thread.</a></noscript>
</div>
{% endunless %}